:root {
    --color-morado: #382640;
    --color-lila: #C291F2;
    --color-celeste: #5CD7F2;
    --color-crema: #F2EBC9;
    --color-naranja: #D9601A;
    --color-azul: #374067;
}

/* background */
.bg-morado {
    background-color: var(--color-morado);
}

.bg-lila {
    background-color: var(--color-lila);
}

.bg-celeste {
    background-color: var(--color-celest);
}

.bg-crema {
    background-color: var(--color-crema);
}

.bg-naranja {
    background-color: var(--color-naranja);
}

.bg-black {
    background-color: black;
}

.bg-azul {
    background-color: var(--color-azul)
}

.bg-estrellas1 {
    background-image: url('../img/fondo1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-estrellas2 {
    background-image: url('../img/fondo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-estrellas3 {
    background-image: url('../img/fondo3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-estrellas4 {
    background-image: url('../img/fondo4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* color */
.text-morado {
    color: var(--color-morado);
}

.text-lila {
    color: var(--color-lila);
}

.text-celeste {
    color: var(--color-celest);
}

.text-crema {
    color: var(--color-crema);
}

.text-naranja {
    color: var(--color-naranja);
}

.text-azul {
    color: var(--color-azul);
}

.color-instagram {
    color: #DD2D7B;
}

.color-facebook {
    color: #3B5998;
}

.color-youtube {
    color: #C4302B;
}

/* btn */
.round-button {
    border-radius: 60px;
    color: var(--color-azul);
    padding: 5px 50px;
    background-color: white;
}

.round-button:hover {
    background:none;
    border: 3px solid white;
    color: white;
}

.round-button-celeste {
    border-radius: 60px;
    color: white;
    padding: 5px 50px;
    background-color: var(--color-celeste);
}

.round-button-celeste:hover {
    background:none;
    border: 3px solid var(--color-celeste);
    color: var(--color-celeste);
}

.round-button-celeste-lg {
    width: 100%;
    border-radius: 60px;
    color: white;
    padding: 5px 50px;
    background-color: var(--color-celeste);
}

.round-button-celeste-lg:hover {
    background:none;
    border: 3px solid var(--color-celeste);
    color: var(--color-celeste);
}

/* redes */
.redes {
    font-size: 1.5rem;
    margin: 0 10px;
}

/* contenedor */
.contenedor-lila {
    background-color: rgba(194, 145, 242, 0.3);   
    border-radius: 60px;
    padding: 30px;
}

/* banner */
.banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/portada.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-title{
    color: white;
    background-color: var(--color-morado);
    padding: 20px;
    border-radius: 30px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;
}

.banner-text{
    color: var(--color-crema);
    background-color: var(--color-azul);
    padding: 10px;
    border-radius: 30px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 1.5rem;
    text-align: center;
}

/* link */
.link-blanco {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

.link-blanco:hover {
    color: var(--color-naranja);
}

/* formulario */

.formulario input {
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-morado);
    color: white;
    border: none;
    border-radius: 60px;
    padding: 5px 20px;
}

.formulario textarea {
    width: 100%;
    margin-top: 10px;
    resize: none;
    background-color: var(--color-morado);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}

.formulario input:focus, .formulario textarea:focus {
    outline: none;
    border: 2px solid var(--color-celeste)
}